/** ============================================================================
 * General Typography Stylings
 * ========================================================================== */


/* Font Family Definitions
/* -------------------------------------------------------------------------- */
$typeface-primary: "Lato", "Roboto", sans-serif;
$typeface-secondary: "Helvetica Neue", "Arial", sans-serif;


/* General Typography Stylings
/* -------------------------------------------------------------------------- */
html, body {
  font-size: 16px;
  font-family: $typeface-secondary;
  line-height: 1.5;
}